.container {
    font-family: "Ubuntu", sans-serif;
    }

    .body-color {
        background: #DBE9D3;
    }

.form-group {
    width: 60%;
}

.card {
    margin-top: 20px;
    padding: 10px;
    background:  linear-gradient(109.6deg, rgb(17, 151, 147) 11.2%, rgb(154, 214, 212) 55.4%, rgb(255, 233, 171) 100.2%);
    border-color: #273E35 !important;
                border-radius: 2em;
        box-shadow: 5px 5px #273E35;
    }


.title {
    font-size: 30px;
}
.subtitle {
    font-size: 20px;

}

.weather-card {
    border-color: #273E35 !important;
    transform: skew(-10deg);
    border-radius: 2em;
    box-shadow: 5px 5px #273E35;
}

.text {
    transform: skew(10deg);
    font-size: 30px;
}

.col.temp-explain {
    opacity: 0.7;
    font-size: 17px;
  
}


.temp {
    font-size: 40px;
    display: block;
    margin-left: -10px;
}



.text-other {
    transform: skew(10deg);
    font-size: 25px;
    margin-bottom: 20px;
}

.temp-other {
    font-size: 25px;
    display: block;
    margin: 0 auto;
}

.temp-min{
    opacity: 0.7;
}


.col-9 {
    margin-top: 33px !important;
}


.link-github {
   margin-top: 10px;
    color: black;
}

#icon {
    margin-top: -35px;
}

.description{
    margin-top: 5px;
    color: black;
}

.description:first-letter {
    text-transform: capitalize;
    
}

.units {
    position: relative;
        top: -40px;
        left: 50px;
        font-size:20px;
}

.active {
    color:black;
    cursor:default;
}

.active:hover {
    text-decoration: none;
    color:inherit;
}

.humid{    
    margin-top: -10px;
    margin-left: -25px;
}
.windy{
    margin-top: -10px;
    margin-left: -25px;
}
